@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <header>

        <h1>KSRTC</h1>

    </header>
    
<img class="center" src="https://user-images.githubusercontent.com/11382805/44280002-677b7500-a28e-11e8-8a58-77f68ae5ea8e.gif" /><br />
<input type="text"><button>Next</button><br />
<div class="text-center">
    <span class="text--1">crowd density</span><br />
<i class="text--2">78%</i>

</div>