@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 style="color: #B7121F"> KSRTC<strong style="color: #B7121F; font-weight: 800">ADMINISTRATION</strong></h1>
</div>
<input type="text" placeholder="ENTER BUS ID">
@*<input type="text" placeholder="ROUTE NUMBER">*@
<input type="text" placeholder="ENTER MACHINE ID">
<input type="text" placeholder="START POINT">
<input type="text" placeholder="END POINT">
<div id="buttons">
  <button class="button button1">GO BACK</button>
  @*<button class="button button2">Go</button>*@
  <button class="button button3">SUBMIT</button>
  @*<button class="button button4">Register</button>
  <button class="button button5">Sign in</button>*@
</div>
